<a href="https://colab.research.google.com/github/NataliaRussuu/data_analytics_2/blob/main/SQL_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Natalia Russu. Mini Project SQL

#Create a video table.



DROP TABLE IF EXISTS video;

CREATE TABLE video (vid_id serial,

                title varchar(255),

                len_vid float,

                url varchar(255),

               Primary Key(vid_id));

##To insert the values in the table:
    INSERT INTO video VALUES(1,
						 'Nainowale Ne Full Video Song | Padmaavat | Deepika Padukone | Shahid Kapoor | Ranveer Singh',
						 2.32,'https://youtu.be/xE9FBL7jUGA');			   
    INSERT INTO video VALUES(2,'Bol Na Halke Halke | Full Song | Jhoom Barabar Jhoom | Abhishek, Preity | Shankar-Ehsaan-Loy, Gulzar',
						 7.41,'https://youtu.be/jXwg9l9D51A');
    INSERT INTO video VALUES(3, 'Jon Batiste - I NEED YOU',
						 3.50,'https://youtu.be/AXT00sWwuTQ');
    INSERT INTO video VALUES(4, 'Pharrell Williams - Happy (Video)',
						 4.00,'https://youtu.be/ZbZSe6N_BXs');

## View the table:
    SELECT * FROM video;

#Create a second table. 
> Create a second table that provides at least two user reviews for each of at least two of the videos. 
These should be imaginary reviews that include columns for the user’s name (“Asher”, “John”, etc.), the rating (which could be NULL, or a number between 0 and 5), and a short text review (“Loved it!”).  There should be a column that links back to the ID column in the table of videos.

    DROP TABLE IF EXISTS Reviewers;

    CREATE TABLE Reviewers(
	user_id varchar(255),
	rating int,
	review text
	);

##add foreign key to the reviwers (second) table:
    ALTER TABLE Reviewers ADD column vid_id int, add CONSTRAINT fk_video 
		FOREIGN KEY(vid_id)
			REFERENCES video(vid_id);

##insert values in the Reviewers table:
    INSERT INTO Reviewers Values('Asher',
							5,
							'Loved it',
							 1);
    INSERT INTO Reviewers Values('Asher',
							5,
							'Loved it',
							 2);
    INSERT INTO Reviewers Values('John',
							5,
							'Like it',
							 2);
    INSERT INTO Reviewers Values('John',
							4,
							'awesome song',
							 1);
    INSERT INTO Reviewers Values('John',
							4,
							'most watched song',
							 4);

##To view the reviewers table:
   
    select * from Reviewers;

#To join the 2  tables:

SELECT * FROM video
FULL JOIN Reviewers 
ON video.vid_id = Reviewers.vid_id;